Repository spacetelescope/crds, pull requests merged in 2024-10, with the labels that each got.

#1082 Added several more images and updates for build context.
  documentation/crds_users_guide/source/command_line_tools.rst
  documentation/crds_users_guide/source/images/web_set_build_context.png
  documentation/crds_users_guide/source/images/web_set_build_drop.png
  documentation/crds_users_guide/source/library_use.rst
  documentation/crds_users_guide/source/pipeline_management.rst
  documentation/crds_users_guide/source/web_services.rst
  documentation/crds_users_guide/source/web_site_use.rst
Labels: no-changelog-entry-needed, documentation

#1084 Updated image names.
  documentation/crds_users_guide/source/web_site_use.rst
Labels: no-changelog-entry-needed, documentation

#1090 ci/latest-cache-context
  .github/workflows/contexts.yml
Labels: no-changelog-entry-needed

#1091 tests/sync-latest-and-build
  changes/1091.testing.rst
  conftest.py
  crds/core/cmdline.py
  crds/sync.py
  test/core/test_cmdline.py
  test/core/test_heavy_client.py
  test/test_sync.py
Labels: testing

#1093 remove `display_version` from docs config
  documentation/crds_users_guide/source/conf.py
Labels: no-changelog-entry-needed

#1095 docs/revert-back-to-display-version
  documentation/crds_users_guide/source/conf.py
Labels: no-changelog-entry-needed
